<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>例1</string>
		<key>colors</key>
		<array>
			<string>#FFE543</string>
			<string>#F37D81</string>
			<string>#2844A2</string>
			<string>#0B1F6A</string>
			<string>#3C74D1</string>
			<string>#D4B8C8</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>例2</string>
		<key>colors</key>
		<array>
			<string>#040403</string>
			<string>#E6432D</string>
			<string>#FF890C</string>
			<string>#4B9C18</string>
			<string>#CE7091</string>
			<string>#F6F3F1</string>
			<string>#A1AE40</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>例3</string>
		<key>colors</key>
		<array>
			<string>#EBECF2</string>
			<string>#F73167</string>
			<string>#F95287</string>
			<string>#B1ADB8</string>
			<string>#342D32</string>
			<string>#837F85</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>例4</string>
		<key>colors</key>
		<array>
			<string>#366870</string>
			<string>#4A2A33</string>
			<string>#A6A8AB</string>
			<string>#893B49</string>
			<string>#6B9C9D</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>例5</string>
		<key>colors</key>
		<array>
			<string>#1B0958</string>
			<string>#4A37C4</string>
			<string>#570324</string>
			<string>#AD0C37</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>例6</string>
		<key>colors</key>
		<array>
			<string>#FE8D0A</string>
			<string>#E850D7</string>
			<string>#50AB0E</string>
			<string>#CA9819</string>
			<string>#030303</string>
			<string>#80929D</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>例7</string>
		<key>colors</key>
		<array>
			<string>#FDFCFC</string>
			<string>#E7CDD2</string>
			<string>#A9EDFB</string>
			<string>#8EB4C8</string>
			<string>#F2ABA2</string>
			<string>#84AEC3</string>
			<string>#B49B9A</string>
		</array>
	</dict>
</array>
</plist>
